<div class="assets">
    <header class="assets__header  align-self-stretch">
        <nav class="navbar navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="img/logo.svg"></a>
                <div class="position-relative   ms-auto">
                    <img src="img/profile.svg">
                    <button class="btn dropdown-toggle ps-2 shadow-none btn-small" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Имя Фамилия</button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Личный кабинет</a>
                        <a class="dropdown-item" href="#">Выйти</a>


                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>