$body-color: #333333;
$blue: #2F97EB;
$hover-color:#1e8feb;
$grid-gutter-width:24px;
$fontFamily:'Roboto',
monospace;
$fontSizeDefault: 1rem;
// base theme
$nav-link-padding-y: 2rem;
$nav-link-padding-x: 0;
$nav-link-color: #0F1F2C;
$navbar-padding-y:0;
$navbar-padding-x:0;
$nav-link-font-size: 1.125rem;
$navbar-light-active-color:#2F97EB;